
input {
    display: block;
    box-sizing: border-box;
    width: 20%;
    outline: none;
    margin:0;
}

.button {
    background-color: grey;
    color: black;
    width: 200px;
    margin: 2%;
}

.view-post {
    margin-top: 5%;
    border: 1px solid black;
    padding: 5%;
}

.post-buttons  {
    display: flex;
    justify-content: space-around;
}

header{
    border: 2px solid black;
}

.headings, .foot {
    margin: 3%;
    font-size: 20px;
}

.header{
    font-size: 40px;
}

img {
    margin-left: 30px;
    width: 10%;
}

.show-user {
    margin-right: 2%;
    text-align: right;
}

.button-link {
    /*background-color: grey;*/
    /*color: black;*/
    /*width: 200px;*/
    /*margin: 2%;*/
    background: none!important;
    border: none;
    padding: 0!important;
    color: brown;
    text-decoration: underline;
    cursor: pointer;
    width: 200px;
}

.link-button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3%;
}