<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/formsCss.css" type="text/css" th:href="@{/formsCss.css}">
    <title>Register User</title>
</head>
<body>

<header th:replace="home::mainHeader"></header>

<form action="register" method="POST" th:object="${newUser}">
    <h1>Register Here!!</h1>
    <label>Name:</label><br>
    <input type="text" name="name" placeholder="Enter name" required><br>
    <label>Email:</label><br>
    <input type="text" name="email" placeholder="Enter email" pattern=".+@gmail.com$" required><br>
    <label>userName:</label><br>
    <input type="text" name="userName" placeholder="Enter userName" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" placeholder="Create password" required><br>
    <input class="button" type="submit" value="Register">
</form>

</body>
</html>