<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/home.css" type="text/css" th:href="@{/viewPostCss.css}">
    <title>View Blog</title>
</head>
<body>
<header th:replace="home::mainHeader"></header>

<!--    <h1 th:text="${post}"></h1>-->
<article>
    <h2 th:text="${post.title}">Post Title</h2>
    <i>Posted on</i>
    <span th:text="${post.createdAt}"></span>
    <span th:text="${post.publishedAt}">12-Dec-2020</span>
    <p>Author: <span th:text="${post.author}"></span></p>
    <p>Tags: <span th:text="${post.tags}"></span></p>
    <p><span th:text="${post.content}"></span></p>
    <br>
    <br>

    <nav>
        <aside sec:authorize="isAuthenticated()">
            <form th:action="@{/edit-post}" method="GET">
                <input type="hidden" th:value="${post.id}" name="postId">
                <input class="button" type="submit" value="edit">
            </form>
        </aside>
        <aside sec:authorize="isAuthenticated()">
            <form th:action="@{/delete-post/{postId}(postId=${post.id})}" method="POST">
<!--                <input type="hidden" th:value="${post.id}" name="postId">-->
                <input class="button" type="submit" value="delete">
            </form>
        </aside>
        <aside sec:authorize="isAuthenticated()">
        <form th:action="@{/view-post/{postId}/new-comment(postId=${post.id})}" method="POST">
            <!--    <span><a href="comment.html" th:href="@{/createComment}"><input type="submit" value="Comment"></a></span>-->
<!--            <input type="hidden" th:value="${post.id}" name="postId">-->
            <input class="button" type="submit" value="New comment">
        </form>
        </aside>
        <aside sec:authorize="isAnonymous()">
            <form th:action="@{/view-post/{postId}/new-comment(postId=${post.id})}" method="POST">
                <!--    <span><a href="comment.html" th:href="@{/createComment}"><input type="submit" value="Comment"></a></span>-->
<!--                <input type="hidden" th:value="${post.id}" name="postId">-->
                <input class="button" type="submit" value="New comment">
            </form>
        </aside>
    </nav>

<br>
<h1>Comments: </h1>

<div th:each="comment : ${post.comments}">
    <hr>
    <p>
        <span th:text="${comment.name}">name</span>
        <a th:href="@{/user/{email}(email=${comment.email})}"><span th:text="'[' + ${comment.email} + ']'" >email</span></a>
    <p th:text="${comment.comment}">comment</p>

    <nav sec:authorize="isAuthenticated()">
    <span>
        <form th:action="@{/{postId}/edit-comment(postId=${post.id})}">
            <input class="button" type="submit" value="Edit Comment">
            <input type="hidden" th:value="${comment.id}" name="commentId">
        </form>
    </span>

    <span>
        <form th:action="@{/view-post/{postId}/delete-comment(postId=${post.id})}" method="POST">
            <input class="button" type="submit" value="Delete Comment">
            <input type="hidden" th:value="${comment.id}" name="commentId">
        </form>
    </span>

    <span>
        <form th:action="@{/view-post/{postId}/reply(postId=${post.id})}" method="POST">
            <input class="button" type="submit" value="Reply">
            <input type="hidden" th:value="${comment.id}" name="commentId">
        </form>
    </span>

    </nav>
</div>

</article>
</body>
</html>